{% extends "employee/employeebase.html" %}
{% load static %}
{% block landingcss %}
<link rel="stylesheet" href="{% static "employee/css/landing.css" %}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Ionicons -->
<link href="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.min.css" rel="stylesheet">

{% endblock  %}
{% block content %} 
    <div class="middle">
        <div class="desktop_view_div1">
            <div class="landing-center">

                <div class="landing-center-data">

                    <div class="data-top">
                        <div class="data-top-left">
                            <ion-icon name="calendar-outline" class="icon"></ion-icon>
                            <p id="current-date"></p>
                        </div>
                    
                        <div class="data-top-right">
                            <ion-icon name="timer-outline" class="icon"></ion-icon>
                            <p id="current-time"></p>
                        </div>
                    </div>

                    <div class="data-middle">
                        <div class="data-box" id="hours">09</div>
                        <div class="data-box" id="minutes">00</div>
                        <div class="data-box" id="seconds">00</div>
                        <div class="data-box">HRS</div>
                    </div>
                    {% if employee %}
                    {% if work_time %}
                    <p class="data-middle-bottom align-center">Work time : {{ work_time.start_time }} to {{ work_time.end_time }}</p>
                    {% else %}
                    <p class="data-middle-bottom align-center">Work Time: Not set</p>
                    {% endif %}
                    {% endif %}
                     
                   
                    <form method="POST" action="{% url 'employee_index' %}" id="attendance-form">
                        {% csrf_token %}
                        <input type="hidden" id="hidden-date" name="datetime">
                        <input type="hidden" name="latitude" id="latitude">
                        <input type="hidden" name="longitude" id="longitude">
                        <input type="hidden" name="action" id="action">
                        
                        <div class="data-bottom">
                            {% if is_new_user or user not in latest_attendance or latest_attendance.logout_datetime %}
                                <button id="checkin-button" class="data-top-left left-btn align-center bold" type="button" onclick="handleCheckIn()">
                                    <ion-icon name="bag-outline"></ion-icon>
                                    <span class="align-center">Check In</span>
                                </button>
                                <button class="btn dropdown-toggle dropdown-toggle-split drop" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a id="forgot-checkin-button" class="dropdown-item" href="#" data-target="#forgotCheckinModal" data-toggle="modal">Forgot Check In</a>
                                </div>
                                <div id="break-buttons" class="break-buttons" style="display: none;">
                                    <button id="tea-break-button" class="data-top-right right-btn align-center" type="button" onclick="handleBreak('tea')">
                                        <ion-icon name="cafe-outline" class="align-left"></ion-icon>
                                        <span class="bold">Tea Break</span>
                                    </button>
                                    <button id="lunch-break-button" class="data-top-right right-btn align-center" type="button" onclick="handleBreak('lunch')">
                                        <ion-icon name="restaurant-outline" class="align-left"></ion-icon>
                                        <span class="bold">Lunch Break</span>
                                    </button>
                                    <button id="checkout-button" class="data-top-right right-btn checkout-color align-center" type="button" onclick="confirmCheckout()">
                                        <ion-icon name="arrow-forward-outline" class="align-left"></ion-icon>
                                        <span class="bold">Check Out</span>
                                    </button>
                                </div>
                            {% else %}
                                <button id="checkin-button" class="data-top-left left-btn align-center bold" type="button" style="display:none;" onclick="handleCheckIn()">
                                    <ion-icon name="bag-outline"></ion-icon>
                                    <span class="align-center">Check In</span>
                                </button>
                                <div id="break-buttons" class="break-buttons">
                                    <button id="tea-break-button" class="data-top-right right-btn align-center" type="button" onclick="handleBreak('tea')">
                                        <ion-icon name="cafe-outline" class="align-left"></ion-icon>
                                        <span class="bold">Tea Break</span>
                                    </button>
                                    <button id="lunch-break-button" class="data-top-right right-btn align-center" type="button" onclick="handleBreak('lunch')">
                                        <ion-icon name="restaurant-outline" class="align-left"></ion-icon>
                                        <span class="bold">Lunch Break</span>
                                    </button>
                                    <button id="checkout-button" class="data-top-right checkout-color right-btn align-center" type="button" onclick="confirmCheckout()">
                                        <ion-icon name="arrow-forward-outline" class="align-left"></ion-icon>
                                        <span class="bold">Check Out</span>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                    
                </div>
                
            </div>
            <!-- Modal for Forgot CheckIn -->
            <div class="modal fade" id="forgotCheckinModal" tabindex="-1" aria-labelledby="forgotCheckinLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title danger" id="forgotCheckinLabel" style="color: red;">Forgot CheckIn</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'employee_index' %}" id="forgot-checkin-form" onsubmit="event.preventDefault(); submitForgotCheckin();">
                                {% csrf_token %}
                                <input type="hidden" id="forgot-hidden-date" name="datetime">
                                <input type="hidden" name="action" value="forgot_checkin">
                                <input type="hidden" name="latitude" id="forgot-latitude">
                                <input type="hidden" name="longitude" id="forgot-longitude">
                                <div class="form-group">
                                    <label class="form-label" for="start-time">Start Time</label>
                                    <input type="datetime-local" class="form-control" name="start_time" id="start-time" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="reason">Reason</label>
                                    <textarea class="form-control" name="reason" id="reason" required></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    {% if latest_attendance %}
                                        {% if latest_attendance.is_pending_approval == 1 %}
                                            <button type="submit" class="btn btn-primary" disabled>Submit</button> <br>
                                            <p class="modal-title danger" style="color: red;">Request Already Exists in Pending</p>
                                        {% else %}
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        {% endif %}
                                    {% else %}
                                        
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="landing-center">
                <div class="work-hr">
                    <div class="work-hr-top">
                        <h5>Today working hour</h5>
                    </div>
                    <div class="work-hr-bottom">
                        <div class="checkin">
                            <ion-icon name="time-outline" class="icon"></ion-icon>
                            {% if checkin_time %}
                            <p id="checkin-time">{{ checkin_time|safe  }}</p>
                            {% else %}
                            <p id="checkin-time">00:00:00</p>
                            {% endif %}
                            
                        </div>
                        <div class="lunch" id="break-hours">
                            <ion-icon name="fast-food-outline" class="icon"></ion-icon>
                            <p><span id="break-time">00:00:00</span></p>
                        </div>
                        <div class="checkin">
                            <ion-icon name="time-outline" class="icon"></ion-icon>
                            {% if checkout_time %}
                            <p id="checkin-time">{{ checkout_time|safe }}</p>
                            {% else %}
                            <p id="checkin-time">00:00:00</p>
                            {% endif %}   
                        </div>
                        <div class="checkout">
                            <ion-icon name="timer-outline" class="icon"></ion-icon>
                            {% if total_working_hours %}
                            <p id="checkout-time">{{ total_working_hours }}</p>
                            {% else %}
                            <p id="checkout-time">00:00:00</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop_view_div1">
            <div class="landing-center">
                <div class="work-name bold blues">
                    <h5>Attendance Stats</h5>
                </div>
                <div class="leave-overview">
                    <div class="leave_no">
                        <p class="leave_days available">{{ monthly_days }}</p>
                        <p>Monthly Attendance</p>
                    </div>
                    <div class="leave_no">
                        <p class="leave_days approved">{{ monthly_hours }}</p>
                        <p>Monthly Hours</p>
                    </div>
                    <div class="leave_no">
                        <p class="leave_days pending">{{ weekly_hours }}</p>
                        <p>Weekly Hours</p>
                    </div>
                </div>
            </div>

            <div class="landing-center">
                <div class="work-name bold blues">
                    <h5>Leave Stats</h5>
                </div>
                <div class="leave-overview">
                    <div class="leave_no">
                        <p class="leave_days available">{{ available_leave_balance }}</p>
                        <p>Available</p>
                    </div>
                    <div class="leave_no">
                        <p class="leave_days approved">{{ approved_leave_count }}</p>
                        <p>Approved</p>
                    </div>
                    <div class="leave_no">
                        <p class="leave_days pending">{{ pending_leave_count }}</p>
                        <p>Pending</p>
                    </div>
                    <div class="leave_no">
                        <p class="leave_days applied">{{ applied_leave_count }}</p>
                        <p>Applied</p>
                    </div>
                    <div class="leave_no">
                        <p class="leave_days rejected">{{ rejected_leave_count }}</p>
                        <p>Rejected</p>
                    </div>
                    <div class="leave_no">
                        <p class="leave_days total">{{ leave_balance }}</p>
                        <p>Total Leave</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="landing-center">
            <div class="work-hr-top">
                <h4> Attendance Report </h4>
            </div>
            <div class="graph">
                <canvas id="myPolarChart" width="200" height="200"></canvas>
            
            </div>
        </div>

        {% comment %} <div class="desktop_view_div2">

            <div class="landing-center">

                <div class="project">

                    <div class="work">
                        <div class="project-work">
                            <div class="work-name">
                                <h5>Cuentaz</h5>
                            </div>
                            <div class="work-status">
                                <ion-icon name="time-outline" class="pending"></ion-icon>
                                <p class="pending">Pending</p>
                            </div>
                        </div>
                        <p>afdf</p>
                        <div>
                            <img src="https://imgs.search.brave.com/CbCPtrnZ3kFr8lyvqaVnXEBou-GYwrR5eccyW4KKJiM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9z/bWlsaW5nLW1hbl8x/MDk4LTE1NDQzLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn"
                                alt="">
                        </div>
                    </div>

                    <div class="work">
                        <div class="project-work">
                            <div class="work-name">
                                <h5>Attendance Management</h5>
                            </div>
                            <div class="work-status">
                                <ion-icon name="time-outline" class="processing"></ion-icon>
                                <p class="processing">Processing</p>
                            </div>
                        </div>
                        <p>afdf</p>
                        <div>
                            <img src="https://imgs.search.brave.com/CbCPtrnZ3kFr8lyvqaVnXEBou-GYwrR5eccyW4KKJiM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9z/bWlsaW5nLW1hbl8x/MDk4LTE1NDQzLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn"
                                alt="">
                            <img src="https://imgs.search.brave.com/CbCPtrnZ3kFr8lyvqaVnXEBou-GYwrR5eccyW4KKJiM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9z/bWlsaW5nLW1hbl8x/MDk4LTE1NDQzLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn"
                                alt="">
                        </div>

                    </div>

                    <div class="work">
                        <div class="project-work">
                            <div class="work-name">
                                <h5>Hasdfdasjd Ssjdf</h5>
                            </div>
                            <div class="work-status">
                                <ion-icon name="time-outline" class="completed"></ion-icon>
                                <p class="completed">Completed</p>
                            </div>
                        </div>
                        <p>afdf</p>
                        <div>
                            <img src="https://imgs.search.brave.com/CbCPtrnZ3kFr8lyvqaVnXEBou-GYwrR5eccyW4KKJiM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9z/bWlsaW5nLW1hbl8x/MDk4LTE1NDQzLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn"
                                alt="">
                        </div>
                    </div>

                    <div class="pagination">
                        <a href="#" class="page ">1</a>
                        <a href="#" class="page active">2</a>
                    </div>
                </div>

            </div>

        </div>

        <div class="landing-center">
            <div class="work-hr-top">
                <h4>performance Analysis </h4>
            </div>
            <div class="graph">
                <svg viewBox="0 0 100 100">
                    <!-- X-axis -->
                    <line x1="10" y1="90" x2="150" y2="90" stroke="grey" />
                    <!-- Y-axis -->
                    <line x1="10" y1="90" x2="10" y2="10" stroke="grey" />
                    <!-- Line graph 1 -->
                    <polyline points="20,80 40,60 60,70 80,30" fill="none" class="blue" stroke-width="1" />
                    <!-- Line graph 2 -->
                    <polyline points="10,80 30,60 70,70 80,30" fill="none" class="red" stroke-width="1" />
                </svg>
            </div>
        </div>
        <div class="landing-center">5</div> {% endcomment %}
        
        


    </div>

    {% endblock %}

    

    {% block landingjs %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="path/to/chartjs/dist/chart.umd.js"></script>
    <script>
        // Fetching data from Django context variables
        const weeklyAttendance = {{ weekly_attendance }};
        const monthlyAttendance = {{ monthly_attendance }};
        const yearlyAttendance = {{ yearly_attendance }};
        
        var ctx = document.getElementById('myPolarChart').getContext('2d');
        var myPolarChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: ['Week', 'Month', 'Year'],
                datasets: [{
                    label: 'Attendance report',
                    data: [weeklyAttendance, monthlyAttendance, yearlyAttendance],
                    backgroundColor: [
                        'rgb(75, 192, 192)',
                        'rgb(255, 205, 86)',
                        'rgb(201, 203, 207)'
                    ]
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Attendance'
                    }
                }
            }
        });
    </script>


    {% endblock %}