{% extends "employee/employeebase.html" %}
{% load static %}
{% block landingcss %}
<link rel="stylesheet" href="{% static "employee/css/landing.css" %}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Ionicons -->
<link href="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.min.css" rel="stylesheet">

{% endblock  %}
{% block content %} 
    <div class="middle">
        <div class="desktop_view_div1">
            {% include "employee/home/checkin_section.html" %}
            {% include "employee/home/working_hours.html" %}
        </div>
        <div class="desktop_view_div1">
            {% include "employee/home/attendance_stats.html" %}
            {% include "employee/home/leave_stats.html" %}          
        </div>
        {% include "employee/home/polarchart.html" %}
    </div>

    {% endblock %}

    

    {% block landingjs %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="path/to/chartjs/dist/chart.umd.js"></script>
    <script>
        // Fetching data from Django context variables
        const weeklyAttendance = {{ weekly_attendance }};
        const monthlyAttendance = {{ monthly_attendance }};
        const yearlyAttendance = {{ yearly_attendance }};
        
        var ctx = document.getElementById('myPolarChart').getContext('2d');
        var myPolarChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: ['Week', 'Month', 'Year'],
                datasets: [{
                    label: 'Attendance report',
                    data: [weeklyAttendance, monthlyAttendance, yearlyAttendance],
                    backgroundColor: [
                        'rgb(75, 192, 192)',
                        'rgb(255, 205, 86)',
                        'rgb(201, 203, 207)'
                    ]
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Attendance'
                    }
                }
            }
        });
    </script>


    {% endblock %}