{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'employee/css/style.css' %}">
    <title>Empployee|Request OTP</title>
    <link rel="icon" type="image/x-icon" href="{% static "employee/images/buzlogo.png" %}" >

</head>

<body>
    <div class="container">
        <div class="main-top">
            
        </div>
        
        <div class="main-center">
            <div class="login_logo">
                <img src="{% static 'employee\images\logo_blue.png' %}" alt="">
            </div>
            <h2>Welcome back</h2>
            <p>Enter your Email to Reset Password</p>
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Registered Email" aria-label="Username" aria-describedby="basic-addon1" required>
                <a  href="{% url 'employee_login' %}">Back To Login</a><br><br>
                <button type="submit">Send OTP</button>
               
            </form>
        </div>
    </div>
</body>

</html>