{% extends "employee/employeebase.html" %}
{% block content %}
<div class="middle">
    <div class="landing-center">
        <div class="work-name bold blues" style="display:flex">
            <a href="{% url "employee_profile" %}" class="mtop"><ion-icon name="arrow-back-outline"></ion-icon></a>
            <h5>General Info</h5>
        </div>

        <div class="row">
            <table class="table personal">
                <tbody>
                    <tr>
                        <td class="left">Full Name</td>
                        <td class="right">{{ employee_info.user.get_full_name }}</td>
                    </tr>
                    <tr>
                        <td class="left">Phone Number</td>
                        <td class="right">{{ employee_info.user.contact_no }}</td>
                    </tr>
                    <tr>
                        <td class="left">Email</td>
                        <td class="right">{{ employee_profile.personal_mail }}</td>
                    </tr>
                    <tr>
                        <td class="left">Date of Birth</td>
                        <td class="right">{{ employee_profile.date_of_birth }}</td>
                    </tr>
                    <tr>
                        <td class="left">Gender</td>
                        <td class="right">
                            {% if employee_profile.gender == 'M' %} Male
                            {% elif employee_profile.gender == 'F' %} Female
                            {% elif employee_profile.gender == 'O' %} Others
                            {% endif %} 
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Marital Status</td>
                        <td class="right">
                            {% if employee_profile.marital_status == 'S' %} Single
                            {% elif employee_profile.marital_status == 'M' %} Married
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="left">Blood Group</td>
                        <td class="right">{{ employee_profile.blood_group }}</td>
                    </tr>
                    <tr>
                        <td class="left">Nationality</td>
                        <td class="right">{{ employee_profile.nationality }}</td>
                    </tr> 
                    <tr>
                        <td class="left">Address</td>
                        <td class="right">{{ employee_info.address }}</td>
                    </tr>
                    <tr>
                        <td class="left">Identification No</td>
                        <td class="right">{{ employee_profile.identification_no }}</td>
                    </tr>
                    <tr>
                        <td class="left">Field of study</td>
                        <td class="right">{{ employee_profile.field_of_study }}</td>
                    </tr>
                    <tr>
                        <td class="left">School</td>
                        <td class="right">{{ employee_profile.school }}</td>
                    </tr>
                    <tr>
                        <td class="left">Guardian Name</td>
                        <td class="right">{{ employee_profile.guardian_name }}</td>
                    </tr>
                    <tr>
                        <td class="left">Guardian Phone</td>
                        <td class="right">{{ employee_profile.guardian_phone }}</td>
                    </tr>
                    <tr>
                        <td class="left">Guardian Email</td>
                        <td class="right">{{ employee_profile.guardian_email }}</td>
                    </tr>
                    <tr>
                        <td class="left">Guardian Address</td>
                        <td class="right">{{ employee_profile.guardian_address }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock  %}