{% extends "employee/employeebase.html" %}

{% block profilecss %}

    <style>
        .con {
            position: relative;
            bottom: 75px;
        }

        @media(max-width:768px) {
            .profile-work {
                display: none;
            }

            .con {
                bottom: -14px;
            }
        }

        @media (min-width: 769px) and (max-width: 1320px) {
            .con {
                bottom: 20px;
            }
        }
        .emp-profile {
            padding: 3%;
            margin-bottom: 11%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-img {
            text-align: center;
        }

        .profile-img img {
            width: 70%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
            cursor: pointer;

        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #015c7c;
        }

        .profile-edit-btn {
            border: none;
            border-radius: 1.5rem;
            width: 70%;
            padding: 2%;
            font-weight: 600;
            color: #6c757d;
            cursor: pointer;
        }

        .proile-rating {
            font-size: 12px;
            color: #818182;
            margin-top: 5%;
        }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

        .profile-head .nav-tabs {
            margin-bottom: 5%;
        }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #015c7c;
        }

        .profile-work {
            padding: 14%;
            margin-top: -15%;
        }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

        .profile-tab label {
            font-weight: 600;
        }

        .profile-tab p {
            font-weight: 600;
            color: #015c7c;
        }
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% endblock  %}

    {% block content %}
    <div class="middle">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show mt-6 ms-5 me-5" role="alert">
                    <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="container emp-profile">
            
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            {% if employee.image_url %}
                                <img src="{{ employee.image_url }}" alt="Profile Picture">
                            {% endif %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <input type="file" name="profile_image" onchange="this.form.submit()"/>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                {{ employee_info.user.get_full_name }}
                            </h5>
                            {% for emp_designation in employee.designations %}
                                <h6>{{ emp_designation.designation.designation }}</h6>
                            {% endfor %}
                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                        aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" onclick="window.location.href = '{% url "employee_edit_profile" %}'" >
                        {% comment %} <a href="{% url "employee_edit_profile" %}" type="button" class="profile-edit-btn" name="btnAddMore" />Edit Profile</a> {% endcomment %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>LINK</p>
                            <a href="{{ employee_profile.linkedin }}" target="_blank" > Linkedin </a><br />
                            <a href="{{ employee_profile.twitter }}" target="_blank">Twitter </a><br />
                            <a href="{{ employee_profile.instagram }}" target="_blank">Instagram</a>
                            <p>SKILLS</p>
                            <a href="javascript:void(0)">{{ employee_profile.skill_1 }}</a><br />
                            <a href="javascript:void(0)">{{ employee_profile.skill_2 }}</a><br />
                            <a href="javascript:void(0)">{{ employee_profile.skill_3 }}</a><br />
                            <a href="javascript:void(0)">{{ employee_profile.skill_4 }}</a><br />
                            <a href="javascript:void(0)">{{ employee_profile.skill_5 }}</a><br />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab con" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Emp Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ employee_info.employee_code }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ employee_info.user.get_full_name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ employee_info.user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ employee_info.user.contact_no }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        {% for emp_designation in employee.designations %}
                                         <p>{{ emp_designation.designation.designation }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p> <a href="{% url 'employee_personal_info' %}">Your Detailed Personal Information</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Fresher</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Salary</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>xxxx</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Days Present</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>120 days</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Time With Company</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>3 months</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><a href="{% url "employee_work_detail" %}">Your Detailed Work Information</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>


        <!-- <div class="landing-center">

            <div class="row">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="left"><ion-icon name="lock-closed-outline" class="icon"></ion-icon> Change
                                Password</td>
                        </tr>
                        <tr>
                            <td class="left"><ion-icon name="log-out-outline" class="logout-icon"></ion-icon> Logout
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->

    </div>

{% endblock  %}