{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'employee/css/style.css' %}">
    <title>Empployee|Login</title>
    <link rel="icon" type="image/x-icon" href="{% static "employee/images/buzlogo.png" %}" >

</head>

<body>
    <div class="container">
        <div class="main-top">
            
        </div>
        {% comment %} <div class="main-bottom">
            <p> Don't have an account? <a>Signup Now</a></p>
        </div> {% endcomment %}
        <div class="main-center">
            <div class="login_logo">
                <img src="{% static 'employee\images\logo_blue.png' %}" alt="">
            </div>
            <h2>Welcome back</h2>
            <p>Set Your New Password</p>
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="password" class="form-control" name="new_password" id="new_password" placeholder="New Password" aria-label="Username" aria-describedby="basic-addon1" required>
                    <div class="input-group-append">
                        <span class="input-group-text" onclick="togglePasswordVisibility('new_password')">
                            <i class="fa fa-eye" aria-hidden="true" id="toggle_new_password"></i>
                        </span>
                    </div>
                </div>
                <br>
                <div class="input-group">
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" aria-label="Password" aria-describedby="basic-addon1" required>
                    <div class="input-group-append">
                        <span class="input-group-text" onclick="togglePasswordVisibility('confirm_password')">
                            <i class="fa fa-eye" aria-hidden="true" id="toggle_confirm_password"></i>
                        </span>
                    </div>
                </div>
                <br>
                <button type="submit">Set New Password</button>
            </form>
        </div>
    </div>
    <script>
        function togglePasswordVisibility(fieldId) {
            var x = document.getElementById(fieldId);
            var iconId = 'toggle_' + fieldId;
            var icon = document.getElementById(iconId);
    
            if (x.type === "password") {
                x.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                x.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>
</body>

</html>