<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Update Employee</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.non_field_errors }}
        {{ phone_form.non_field_errors }}

        <div class="fieldWrapper">
            <label for="id_first_name">First name:</label>
            {{ profile_form.first_name }}
        </div>
        <div class="fieldWrapper">
            <label for="id_last_name">Last name:</label>
            {{ profile_form.last_name }}
        </div>
        <div class="fieldWrapper">
            <label for="id_phonenumber">Phone number:</label>
            {{ phone_form.phonenumber }}
        </div>
        <div class="fieldWrapper">
            <label for="id_profile_pic">Profile Picture:</label>
            {{ phone_form.profile_pic }}
        </div>
        <button type="submit">Update Profile</button>
    </form>
</body>
</html>
