{% extends "employee/employeebase.html" %}
{% block content %}
    {% comment %} <div class="landing-top">
        <div class="landing-top-details">
            <div class="details-left">
                <div class="personal-icon">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </div>
                <div class="user">
                    <p>Work Information</p>
                </div>
            </div>

        </div>
    </div> {% endcomment %}

    <div class="middle">

        <div class="landing-center">
            <div class="work-name bold blues" style="display:flex">
                <a href="{% url "employee_profile" %}" class="mtop"><ion-icon name="arrow-back-outline"></ion-icon></a>
                <h5>Work Details</h5>
            </div>

            <div class="row">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="left">Username</td>
                            <td class="right">{{ employee_info.employee_name }}</td>
                        </tr>
                        <tr>
                            <td class="left">Employee ID</td>
                            <td class="right">{{ employee_info.employee_code }}</td>
                        </tr>
                        <tr>
                            <td class="left">Date of Joining</td>
                            <td class="right">{{ employee.join_date }}</td>
                        </tr>
                        <tr>
                            <td class="left">Department</td>
                            <td class="right">{{ employee.department.department}}</td>
                        </tr>
                        <tr>
                            <td class="left">Designation</td>
                            <td class="right">
                                {% for emp_designation in employee.designations %}
                                    {{ emp_designation.designation.designation }}
                                {% endfor %}
                        </td>
                        </tr>
                        <tr>
                            <td class="left">Work Phone</td>
                            <td class="right">{{ employee_info.user.contact_no }}</td>
                        </tr>
                        <tr>
                            <td class="left">Work Email</td>
                            <td class="right">{{ employee.email }}</td>
                        </tr>
                        <tr>
                            <td class="left">Work Location</td>
                            <td class="right">{{ employee.location.city }}</td>
                        </tr>
                        {% comment %} <tr>
                            <td class="left">Manager</td>
                            <td class="right">sdgfdhfsf</td>
                        </tr>
                        <tr>
                            <td class="left">Employee Contract</td>
                            <td class="right">142342353252</td>
                        </tr> {% endcomment %}
                        

                    </tbody>
                </table>
            </div>



        </div>


        <div class="landing-center">
            <div class="work-name bold blues" style="display:flex">
                <h5>Bank Details</h5> &nbsp; &nbsp;
                <ion-icon style="font-size: 22px;" name="add-circle-outline" data-toggle="modal" data-target="#bankDetailsModal"></ion-icon>
                {% comment %} <span class="mtop" >Add Bank Details</span> {% endcomment %}
                
            </div>
            
            <div class="row">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="left">Bank Name</td>
                            <td class="right">{{ bank_details.bank_name }}</td>
                        </tr>
                        <tr>
                            <td class="left">Account Number</td>
                            <td class="right">{{ bank_details.account_number }}</td>
                        </tr>
                        <tr>
                            <td class="left">IFSC code</td>
                            <td class="right">{{ bank_details.ifsc_code }}</td>
                        </tr>
                        <tr>
                            <td class="left">Branch Address</td>
                            <td class="right">{{ bank_details.branch_address }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
         <!-- Modal -->
        <div class="modal fade" id="bankDetailsModal" tabindex="-1" role="dialog" aria-labelledby="bankDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="bankDetailsForm" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="bankDetailsModalLabel">Enter Bank Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="bank_name">Bank Name</label>
                                <input type="text" class="form-control" id="bank_name" name="bank_name" value="{{ bank_details.bank_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="account_number">Account Number</label>
                                <input type="text" class="form-control" id="account_number" name="account_number" value="{{ bank_details.account_number }}" required>
                            </div>
                            <div class="form-group">
                                <label for="ifsc_code">IFSC code</label>
                                <input type="text" class="form-control" id="ifsc_code" name="ifsc_code" value="{{ bank_details.ifsc_code }}" required>
                            </div>
                            <div class="form-group">
                                <label for="branch_address">Branch Address</label>
                                <input type="text" class="form-control" id="branch_address" name="branch_address" value="{{ bank_details.branch_address }}" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
 