{% load static %}

<div class="landing-center">

    <div class="landing-center-data">

        <div class="data-top">
            <div class="data-top-left">
                <ion-icon name="calendar-outline" class="icon"></ion-icon>
                <p id="current-date"></p>
            </div>
        
            <div class="data-top-right">
                <ion-icon name="timer-outline" class="icon"></ion-icon>
                <p id="current-time"></p>
            </div>
        </div>

        <div class="data-middle">
            <div class="data-box" id="hours">09</div>
            <div class="data-box" id="minutes">00</div>
            <div class="data-box" id="seconds">00</div>
            <div class="data-box">HRS</div>
        </div>
        {% if employee %}
        {% if work_time %}
        <p class="data-middle-bottom align-center">Work time : {{ work_time.start_time }} to {{ work_time.end_time }}</p>
        {% else %}
        <p class="data-middle-bottom align-center">Work Time: Not set</p>
        {% endif %}
        {% endif %}
         
       
        <form method="POST" action="{% url 'employee_index' %}" id="attendance-form">
            {% csrf_token %}
            <input type="hidden" id="hidden-date" name="datetime">
            <input type="hidden" name="latitude" id="latitude">
            <input type="hidden" name="longitude" id="longitude">
            <input type="hidden" name="action" id="action">
            
            <div class="data-bottom">
                {% if is_new_user or user not in latest_attendance or latest_attendance.logout_datetime %}
                    <button id="checkin-button" class="data-top-left left-btn align-center bold" type="button" onclick="handleCheckIn()">
                        <ion-icon name="bag-outline"></ion-icon>
                        <span class="align-center">Check In</span>
                    </button>
                    <button class="btn dropdown-toggle dropdown-toggle-split drop" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ion-icon name="chevron-down-outline"></ion-icon>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu seen" aria-labelledby="dropdownMenuButton" style="text-align: center;">
                        {% comment %} <ion-icon name="hourglass-outline"></ion-icon> {% endcomment %}
                        <a id="forgot-checkin-button" class="dropdown-item" href="#" data-target="#forgotCheckinModal" data-toggle="modal">Forgot Check In</a>
                    </div>
                    <div id="break-buttons" class="break-buttons" style="display: none;">
                        <button id="tea-break-button" class="data-top-right right-btn align-center" type="button" onclick="handleBreak('tea')">
                            {% comment %} <ion-icon name="cafe-outline" class="align-left"></ion-icon> {% endcomment %}
                            <span class="bold">Tea Break</span>
                        </button>
                        <button id="lunch-break-button" class="data-top-right right-btn align-center" type="button" onclick="handleBreak('lunch')">
                            {% comment %} <ion-icon name="restaurant-outline" class="align-left"></ion-icon> {% endcomment %}
                            <span class="bold">Lunch Break</span>
                        </button>
                        <button id="checkout-button" class="data-top-right right-btn checkout-color align-center" type="button" onclick="confirmCheckout()">
                            {% comment %} <ion-icon name="arrow-forward-outline" class="align-left"></ion-icon> {% endcomment %}
                            <span class="bold">Check Out</span>
                        </button>
                    </div>
                {% else %}
                
                    <div id="break-buttons" class="break-buttons">
                        <button id="tea-break-button" class="data-top-right right-btn align-center" type="button" onclick="handleBreak('tea')">
                            {% comment %} <ion-icon name="cafe-outline" class="align-left"></ion-icon> {% endcomment %}
                            <span class="bold">Tea Break</span>
                        </button>
                        <button id="lunch-break-button" class="data-top-right right-btn align-center" type="button" onclick="handleBreak('lunch')">
                            {% comment %} <ion-icon name="restaurant-outline" class="align-left"></ion-icon> {% endcomment %}
                            <span class="bold">Lunch Break</span>
                        </button>
                        <button id="checkout-button" class="data-top-right checkout-color right-btn align-center" type="button" onclick="confirmCheckout()">
                            {% comment %} <ion-icon name="arrow-forward-outline" class="align-left"></ion-icon> {% endcomment %}
                            <span class="bold">Check Out</span>
                        </button>
                        
                    </div>
                {% endif %}
                
            </div>
        </form>

        
    </div>
    
</div>
<!-- Checkout Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkoutModalLabel">Confirm Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to check out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirm-checkout" type="button" class="btn btn-primary">Yes, Checkout</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Forgot CheckIn -->
<div class="modal fade" id="forgotCheckinModal" tabindex="-1" aria-labelledby="forgotCheckinLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title danger" id="forgotCheckinLabel" style="color: red;">Forgot CheckIn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'employee_index' %}" id="forgot-checkin-form" onsubmit="event.preventDefault(); submitForgotCheckin();">
                    {% csrf_token %}
                    <input type="hidden" id="forgot-hidden-date" name="datetime">
                    <input type="hidden" name="action" value="forgot_checkin">
                    <input type="hidden" name="latitude" id="forgot-latitude">
                    <input type="hidden" name="longitude" id="forgot-longitude">
                    <div class="form-group">
                        <label class="form-label" for="start-time">Start Time</label>
                        <input type="datetime-local" class="form-control" name="start_time" id="start-time" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="reason">Reason</label>
                        <textarea class="form-control" name="reason" id="reason" required></textarea>
                    </div>
                    <div class="modal-footer">
                        {% if latest_attendance %}
                            {% if latest_attendance.is_pending_approval == 1 %}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" disabled>Submit</button>
                                <br>
                                <p class="modal-title danger" style="color: red;">Request Already Exists in Pending</p>
                            {% else %}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>