{% extends "company_admin/adminbase.html" %}

{% block content %}

    <div class="row" style="padding: 40px;" >
        <div class="col-xl-3 col-lg-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Add Leave Balance</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label">Employees List</label>
                            <select name="employee" id="employee" class="selectpicker form-control" data-style="py-0">
                                <option value="">Select User</option>
                                {% for employee in employees %}
                                    <option value="{{ employee.id }}">{{ employee.employee_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% comment %} <div class="form-group">
                        
                            {% for leave in leave_types %}
                                <label class="form-label" for="leave_{{ leave.id }}">{{ leave.leaves }}:</label>
                                <input type="number" class="form-control" id="leave_{{ leave.id }}" name="leave_{{ leave.id }}" value="0">
                                <br>
                            {% endfor %}
                        </div> {% endcomment %}

                        <div class="form-group" id="leaveBalances">
                            <!-- Leave balances will be dynamically loaded here -->
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock  %}


{% block add_leave_html %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    
    document.getElementById('employee').addEventListener('change', function() {
        var employeeId = this.value;
        if (employeeId) {
            fetch(`/get_leave_balances/${employeeId}/`, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                var leaveBalances = document.getElementById('leaveBalances');
                leaveBalances.innerHTML = '';  // Clear previous balances
                for (var leave of data.leave_balances) {
                    leaveBalances.innerHTML += `
                        <label class="form-label" for="leave_${leave.leave_id}">${leave.leave_name}:</label>
                        <input type="number" class="form-control" id="leave_${leave.leave_id}" name="leave_${leave.leave_id}" value="${leave.available_balance}">
                        <br>
                    `;
                }
            });
        } else {
            document.getElementById('leaveBalances').innerHTML = '';
        }
    });
</script>
{% endblock %}