{% extends "company_admin/adminbase.html" %}
{% load custom_tags %}
{% block content %}
    <div class="container-fluid content-inner mt-6 py-0">
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Attendance Overview</h4>
                            </div>
                        </div>
                        <div class="card-body px-0">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped" data-toggle="data-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Check-In</th>
                                            <th>Location</th>
                                            <th>Check-Out</th>
                                            <th>Location</th>
                                            <th>Working Hours</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% regroup attendance_records by employee.employee_name as employee_records %}
                                        {% for employee_group in employee_records %}
                                        {% for record in employee_group.list %}
                                                <tr>
                                                    <td>{{ record.employee.employee_name }}</td>
                                                    <td>{{ record.employee.id|get_designation }}</td>
                                                    <td>{{ record.login_datetime }}</td>
                                                    <td>{{ record.login_ipaddress }}</td>
                                                    <td>{{ record.logout_datetime }}</td>
                                                    {% comment %} <td>{{ record.logout_datetime|date:"g:i A" }}</td> {% endcomment %}
                                                    <td>{{ record.logout_ipaddress }}</td>
                                                    <td>{{ record.working_hours }}</td>
                                                </tr>
                                            {% endfor %}
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
