{% extends "company_admin/adminbase.html" %}

{% block content %}

<div class="conatiner-fluid content-inner mt-6 py-0">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body pb-xxl-0">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 row-cols-xxl-4">
                        <div class="col">
                            <div class="card  mb-xxl-0 iq-purchase" data-iq-gsap="onStart"
                                data-iq-position-y="50" data-iq-rotate="0" data-iq-trigger="scroll"
                                data-iq-ease="power.out" data-iq-opacity="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <h5 class="text-primary">
                                            Employees
                                        </h5>
                                        <a href="javascript:void(0);">
                                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M15.1609 12.5531C15.1609 14.2991 13.7449 15.7141 11.9989 15.7141C10.2529 15.7141 8.83789 14.2991 8.83789 12.5531C8.83789 10.8061 10.2529 9.39108 11.9989 9.39108C13.7449 9.39108 15.1609 10.8061 15.1609 12.5531Z"
                                                    stroke="#015c7c" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M11.998 19.8549C15.806 19.8549 19.289 17.1169 21.25 12.5529C19.289 7.98888 15.806 5.25089 11.998 5.25089H12.002C8.194 5.25089 4.711 7.98888 2.75 12.5529C4.711 17.1169 8.194 19.8549 12.002 19.8549H11.998Z"
                                                    stroke="#015c7c" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h3>31</h3>
                                        <p class="mb-0 ms-2">+3 last/d</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card  mb-xxl-0 iq-purchase" data-iq-gsap="onStart"
                                data-iq-position-y="150" data-iq-rotate="0" data-iq-trigger="scroll"
                                data-iq-ease="power.out" data-iq-opacity="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <h5 class="text-primary">
                                            Leave
                                        </h5>
                                        <a href="javascript:void(0);">
                                            <svg width="16" height="21" viewBox="0 0 16 21" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M7.98493 13.8462C4.11731 13.8462 0.814453 14.431 0.814453 16.7729C0.814453 19.1148 4.09636 19.7205 7.98493 19.7205C11.8525 19.7205 15.1545 19.1348 15.1545 16.7938C15.1545 14.4529 11.8735 13.8462 7.98493 13.8462Z"
                                                    stroke="#015c7c" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M7.98489 10.5059C10.523 10.5059 12.5801 8.44782 12.5801 5.90972C12.5801 3.37163 10.523 1.31448 7.98489 1.31448C5.44679 1.31448 3.3887 3.37163 3.3887 5.90972C3.38013 8.43925 5.42394 10.4973 7.95251 10.5059H7.98489Z"
                                                    stroke="#015c7c" stroke-width="1.42857"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h3>63</h3>
                                        <p class="mb-0 ms-2">+1 last/d</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card  iq-purchase" data-iq-gsap="onStart" data-iq-position-y="250"
                                data-iq-rotate="0" data-iq-trigger="scroll" data-iq-ease="power.out"
                                data-iq-opacity="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <h5 class="text-primary">
                                            On Break
                                        </h5>
                                        <a href="javascript:void(0);">
                                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 6.49905L6.0014 11.4984L16 1.49976" stroke="#015c7c"
                                                    stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h3>10</h3>
                                        <p class="mb-0 ms-2">+1 last/d</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card iq-purchase" data-iq-gsap="onStart" data-iq-position-y="350"
                                data-iq-rotate="0" data-iq-trigger="scroll" data-iq-ease="power.out"
                                data-iq-opacity="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <h5 class="text-primary">
                                            Work From Home
                                        </h5>
                                        <a href="javascript:void(0);">
                                            <svg width="15" height="13" viewBox="0 0 15 17" fill="currentcolor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.72461 0.75L7.72461 15.75" stroke="currentcolor"
                                                    stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                                <path d="M1.701 6.7998L7.725 0.749804L13.75 6.7998"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h3>50</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 iq-services">
                    <div class="card-group border rounded-1">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-5 iq-contain">
                                    <p class="mb-0 me-4">Today </p>
                                    <button class="btn btn-icon btn-soft-success">
                                        <span class="btn-inner">
                                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.81706 3.33333L7.81706 13.3333" stroke="#1C1F34"
                                                    stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M3.80132 7.36653L7.81732 3.3332L11.834 7.36653"
                                                    stroke="#1C1F34" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                            7%
                                        </span>
                                    </button>
                                </div>
                                <div class="d-flex align-items-center mb-4">
                                    <svg width="12" class="me-2" height="13" viewBox="0 0 12 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.00091 1.49992L6.00091 11.4999" stroke="#1C1F34"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11 6.50006L1 6.50006" stroke="#1C1F34" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <h5>80 Hrs</h5>
                                </div>
                                <div class="progress bg-soft-success shadow-none w-100" style="height: 6px">
                                    <div class="progress-bar bg-success" data-toggle="progress-bar"
                                        role="progressbar" aria-valuenow="7" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-line"></div>
                        <div class="card iq-services">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-5 iq-contain">
                                    <p class="mb-0 me-4">Last week</p>
                                    <button class="btn btn-icon btn-soft-danger">
                                        <span class="btn-inner">
                                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M8.18294 13.6667L8.18294 3.66667" stroke="#1C1F34"
                                                    stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M12.1987 9.63347L8.18268 13.6668L4.16602 9.63347"
                                                    stroke="#1C1F34" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                            9%
                                        </span>
                                    </button>
                                </div>
                                <div class="d-flex align-items-center mb-4">
                                    <svg width="12" class="me-2" height="13" viewBox="0 0 12 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.00091 1.49992L6.00091 11.4999" stroke="#1C1F34"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11 6.50006L1 6.50006" stroke="#1C1F34" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <h5>480 Hrs</h5>
                                </div>
                                <div class="progress bg-soft-danger shadow-none w-100" style="height: 6px">
                                    <div class="progress-bar bg-danger" data-toggle="progress-bar"
                                        role="progressbar" aria-valuenow="9" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-line"></div>
                        <div class="card iq-services">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-5 iq-contain">
                                    <p class="mb-0 me-4">Total </p>
                                    <button class="btn btn-icon btn-soft-success">
                                        <span class="btn-inner">
                                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.81706 3.33333L7.81706 13.3333" stroke="#1C1F34"
                                                    stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M3.80132 7.36653L7.81732 3.3332L11.834 7.36653"
                                                    stroke="#1C1F34" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                            5%
                                        </span>
                                    </button>
                                </div>
                                <div class="d-flex align-items-center mb-4">
                                    <svg width="12" class="me-2" height="13" viewBox="0 0 12 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.00091 1.49992L6.00091 11.4999" stroke="#1C1F34"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11 6.50006L1 6.50006" stroke="#1C1F34" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <h5>2400 Hrs</h5>
                                </div>
                                <div class="progress bg-soft-success shadow-none w-100" style="height: 6px">
                                    <div class="progress-bar bg-success" data-toggle="progress-bar"
                                        role="progressbar" aria-valuenow="5" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card" data-iq-gsap="onStart" data-iq-position-y="70" data-iq-rotate="0"
                data-iq-trigger="scroll" data-iq-ease="power.out" data-iq-opacity="0">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title  fw-bolder">Attendance Report</h4>
                    <a href="admin-dashboard.html" class="btn btn-primary btn-sm">View All</a>
                </div>
                <div class="card-body ">
                    <div class="swiper-container d-slider5">
                        <div class="swiper-wrapper">
                            <div style="width: 800px; height: 500px; margin-top: 50px;">
                                <canvas id="myBarChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <!-- <div class="row" data-iq-gsap="onStart" data-iq-position-y="70" data-iq-rotate="0"
                data-iq-trigger="scroll" data-iq-ease="power.out" data-iq-opacity="0">
                <div class="col-lg-6 col-sm-6">
                    <div class="card blog pricing-details iq-pricing-details">
                        <div class="card-body  text-center">
                            <div class="pricing-header py-2">
                                <div class="icon-data mb-2">
                                    <svg width="32" height="32" viewBox="0 0 31 29" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.6758 1.61804L18.7925 11.2102L18.9047 11.5557H19.268H29.3538L21.1942 17.484L20.9003 17.6976L21.0126 18.0431L24.1293 27.6353L15.9697 21.7069L15.6758 21.4934L15.3819 21.7069L7.22227 27.6353L10.339 18.0431L10.4512 17.6976L10.1573 17.484L1.99772 11.5557H12.0836H12.4468L12.5591 11.2102L15.6758 1.61804Z"
                                            stroke="#8A93AD"></path>
                                    </svg>
                                </div>
                                <h3 class="mb-5 fw-bold">$26<small class="font-size-14 text-muted fw-normal">/
                                        Month</small></h3>
                            </div>
                            <h4 class="my-5 fw-bolder">Basic Plan</h4>
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-center justify-content-center mb-5">
                                    <svg class="me-4" width="17" height="15" viewBox="0 0 17 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.5 0L10.2961 5.52786H16.1085L11.4062 8.94427L13.2023 14.4721L8.5 11.0557L3.79772 14.4721L5.59383 8.94427L0.891548 5.52786H6.70389L8.5 0Z"
                                            fill="#015c7c"></path>
                                    </svg>
                                    Sofbox series
                                </li>
                                <li class="d-flex align-items-center justify-content-center mb-5">
                                    <svg class="me-4" width="17" height="15" viewBox="0 0 17 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.5 0L10.2961 5.52786H16.1085L11.4062 8.94427L13.2023 14.4721L8.5 11.0557L3.79772 14.4721L5.59383 8.94427L0.891548 5.52786H6.70389L8.5 0Z"
                                            fill="#015c7c"></path>
                                    </svg>
                                    Streamit Special
                                </li>
                                <li class="d-flex align-items-center justify-content-center  "
                                    style="text-decoration: line-through">
                                    <svg class="me-4" width="17" height="15" viewBox="0 0 17 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.5 0L10.2961 5.52786H16.1085L11.4062 8.94427L13.2023 14.4721L8.5 11.0557L3.79772 14.4721L5.59383 8.94427L0.891548 5.52786H6.70389L8.5 0Z"
                                            fill="#8A93AD"></path>
                                    </svg>
                                    Prokit HD Shows
                                </li>
                            </ul>
                            <a href="#" class="btn  mt-5 btn-pricing">Activate</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="card blog pricing-details">
                        <div class="card-body  text-center ">
                            <div class="pricing-header py-2 active">
                                <div class="icon-data mb-2">
                                    <svg width="32" height="32" viewBox="0 0 31 29" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.6758 1.61804L18.7925 11.2102L18.9047 11.5557H19.268H29.3538L21.1942 17.484L20.9003 17.6976L21.0126 18.0431L24.1293 27.6353L15.9697 21.7069L15.6758 21.4934L15.3819 21.7069L7.22227 27.6353L10.339 18.0431L10.4512 17.6976L10.1573 17.484L1.99772 11.5557H12.0836H12.4468L12.5591 11.2102L15.6758 1.61804Z"
                                            stroke="#8A93AD"></path>
                                    </svg>
                                </div>
                                <h3 class="mb-5 fw-bold">$56<small class="font-size-14 text-muted fw-normal">/
                                        Month</small></h3>
                            </div>
                            <h4 class="my-5 fw-bolder">Premium Plan</h4>
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-center justify-content-center mb-5">
                                    <svg class="me-4" width="17" height="15" viewBox="0 0 17 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.5 0L10.2961 5.52786H16.1085L11.4062 8.94427L13.2023 14.4721L8.5 11.0557L3.79772 14.4721L5.59383 8.94427L0.891548 5.52786H6.70389L8.5 0Z"
                                            fill="#015c7c"></path>
                                    </svg>
                                    Xamin TV shows
                                </li>
                                <li class="d-flex align-items-center justify-content-center mb-5">
                                    <svg class="me-4" width="17" height="15" viewBox="0 0 17 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.5 0L10.2961 5.52786H16.1085L11.4062 8.94427L13.2023 14.4721L8.5 11.0557L3.79772 14.4721L5.59383 8.94427L0.891548 5.52786H6.70389L8.5 0Z"
                                            fill="#015c7c"></path>
                                    </svg>
                                    Streamit Special
                                </li>
                                <li class="d-flex align-items-center justify-content-center ">
                                    <svg class="me-4" width="17" height="15" viewBox="0 0 17 15" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.5 0L10.2961 5.52786H16.1085L11.4062 8.94427L13.2023 14.4721L8.5 11.0557L3.79772 14.4721L5.59383 8.94427L0.891548 5.52786H6.70389L8.5 0Z"
                                            fill="#015c7c"></path>
                                    </svg>
                                    Features 5
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary mt-5">Activate</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-lg-4">
            <!-- <div class="card bg-primary text-center text-white iq-post" data-iq-gsap="onStart"
                data-iq-position-y="70" data-iq-rotate="0" data-iq-trigger="scroll" data-iq-ease="power.out"
                data-iq-opacity="0">
                <div class="card-body">
                    <h1 class="mb-3 fw-bolder text-white">150</h1>
                    <h3 class="mb-4 text-white">GIGZ posted successfully</h3>
                    <p class="mb-4">It is a long established fact that a reader will be distracted by the
                        readable content of a page when .</p>
                    <a href="#" class="btn btn-white bg-white iq-btn">View Details</a>
                </div>
            </div> -->
            <div class="card" data-iq-gsap="onStart" data-iq-position-y="70" data-iq-rotate="0"
                data-iq-trigger="scroll" data-iq-ease="power.out" data-iq-opacity="0">
                <div class="card-header">
                    <h4 class="card-title fw-bolder">Employees</h4>
                </div>
                <div class="card-body">
                    {% for employee_details in employees %}
                    <div
                        class="d-flex justify-content-between align-items-center  flex-wrap py-3 pt-0 border-bottom">
                        <div class="d-flex align-items-center">
                            {% for image in employee_details.employee.employee_images.all %}
                            <img src="{{ image.employee_image.url }}"
                                class="img-fluid rounded-pill border  avatar-56" alt="1">
                            {% endfor %}
                            <div class="ms-3">
                                <h5 class="">{{ employee_details.employee.employee_name }}</h5>
                                <span>{{ employee_details.join_date }}</span>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}                       
                </div>
            </div>
            <!-- <div class="card" data-iq-gsap="onStart" data-iq-position-y="70" data-iq-rotate="0"
                data-iq-trigger="scroll" data-iq-ease="power.out" data-iq-opacity="0">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h4 class="card-title fw-bolder">Projects on Deadlines</h4>
                    <div class="dropdown">
                        <a href="#" id="dropdownMenuButtonicon" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg width="4" viewBox="0 0 3 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.01367 1.0606V1.0516" stroke="#1C1F34" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M1.01367 5.0696V5.0606" stroke="#1C1F34" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M1.01367 9.0786V9.0696" stroke="#1C1F34" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonicon">
                            <li><a class="dropdown-item" href="#">Completed</a></li>
                            <li><a class="dropdown-item" href="#">Pending</a></li>
                            <li><a class="dropdown-item" href="#">Clear All</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center py-3 pt-0 border-bottom">
                        <div class="d-flex align-items-center">
                            <img src="../assets/images/layouts/user-dashboard/05.png"
                                class="img-fluid rounded avatar-40" alt="1">
                            <div class="ms-2">
                                <h5>Develop chat application</h5>
                            </div>
                        </div>
                        <div class="badge bg-soft-danger">12.05</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center py-3 border-bottom">
                        <div class="d-flex align-items-center">
                            <img src="../assets/images/layouts/user-dashboard/06.png"
                                class="img-fluid rounded avatar-40" alt="2">
                            <div class="ms-2">
                                <h5>City advertising campaign </h5>
                            </div>
                        </div>
                        <div class="badge bg-soft-success">
                            <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 4L4.00126 7L10.0013 1" stroke="#106A40" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center py-3 border-bottom">
                        <div class="d-flex align-items-center">
                            <img src="../assets/images/layouts/user-dashboard/07.png"
                                class="img-fluid rounded  avatar-40" alt="3">
                            <div class="ms-2">
                                <h5>City advertising campaign </h5>
                            </div>
                        </div>
                        <div class="badge bg-soft-danger">12.05</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center py-3 border-bottom">
                        <div class="d-flex align-items-center">
                            <img src="../assets/images/layouts/user-dashboard/08.png"
                                class="img-fluid rounded  avatar-40" alt="4">
                            <div class="ms-2">
                                <h5>Mobile application</h5>
                            </div>
                        </div>
                        <div class="badge bg-soft-success">
                            <svg width="11" height="8" viewBox="0 0 11 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 4L4.00126 7L10.0013 1" stroke="#106A40" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center py-3 pb-0">
                        <div class="d-flex align-items-center">
                            <img src="../assets/images/layouts/user-dashboard/07.png"
                                class="img-fluid rounded avatar-40" alt="5">
                            <div class="ms-3">
                                <h5>Mobile application</h5>
                            </div>
                        </div>
                        <div class="badge bg-soft-danger">20.07</div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}